
//
// VARIABLES
//

// Colors
//$blue: #4183C4;
$blue: #8ab4f8;
//$background: #333; 
//$background: #1b1b1b; //mozilla background
$background: #22272e; //github background
//$footer: #1f1e1e;
$footer: #1a1a1a;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

$size: 1100px;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
