---
layout: default-math
---

<article class="post detailed">
  <h1>{{ page.title }}</h1>

  <div>
    <p class="author_title">{{site.author}}  ·  {{ page.date | date: "%B %e, %Y" }}</p>
    {% if page.last_modified_at %}
    <p class="author_title" datetime="{{ page.last_modified_at | date_to_xmlschema }}">(Updated: {{ page.last_modified_at | date: "%b %-d, %Y" }})</p>
    {% endif %}
    <div class="post-tags">
      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
    <p class = "bug"><a alt = "See a mistake? Open an issue. I make a lot of mistakes" href = "https://github.com/zakuArbor/blog/issues/new?labels=bug&title=[bug]:&assignee=zakuarbor&body=**Link:** [{{site.url}}/blog{{page.url}}]({{site.url}}/blog{{page.url}})%0A**Description:**<!--See an issue with the site or the content, please provide a fix-->"> Report a bug</a></p>
  </div>
    
  <div class="entry">
    {{ content }}
  </div>

  <div>
  <br/>
  <hr/>
  <b>Note:</b> The reviews are bias and reflects my perception of the course. In addition, the information varies depending on the professor and also may be out of date.
  <hr/>
  <p><b>For more bias course reviews:</b></p>
  <ul>
  {% for post in site.posts %}
    {% if post.categories contains 'reviews' and post.categories contains 'university' and page.title != post.title %}
    <li><a href = "..{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
  </div>

  <div>
    <p><span class="share-box">Share:</span> <a href="http://twitter.com/share?text={{ page.title }}&url={{site.url}}{{page.url}}" target="_blank">Twitter</a>, <a href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank">Facebook</a></p>
  </div>

  <!--<div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>-->

  {% include disqus.html %}
</article>
